@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Light Regular'), local('BebasNeueLight'),
        url('../fonts/BebasNeueLight.woff2') format('woff2'),
        url('../fonts/BebasNeueLight.woff') format('woff');

}


*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6,a,p,button,span,li,ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
   
}


#header {
    background-color: #635854;

    padding-bottom:12px ;
    padding-top: 12px;
    border-bottom: 4px solid #3596F5;
}
.navbar {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu {
 display: flex;
 text-align: center;
}
.navbar-item {
    margin-left: 40px;
    margin-right: 40px;

}
.navbar-item:hover {
    background-color: #3596F5;
}
.navbar-link {
    color: #fff;
}
.navbar-contacts {
    text-align: right;
}
.navbar-text {
    display: block;

    color: #fff;
    margin-bottom: 4px;
    font-size: 14px;
}
.navbar-phone {
    font-weight: bold;
font-size: 17px;
text-align: center;
color: #FFFFFF;
}

#main {
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
}
.home-image path{
    opacity: 0;
    cursor: pointer;
}
.home-image path:hover{
    opacity: 1;
}
.main-info {
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.counter-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.counter-button {
    background-color: #fff;
    border: none;
    cursor: pointer;
}
.main-title {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;

    font-size: 37px;
text-align: center;
text-transform: uppercase;

color: #635854;
}
.counter {
    font-family: 'Bebas Neue', sans-serif;
    color: #635854;
    font-size: 124px;
    font-weight: 700;
    margin-top: 10px;
}
.button-primery {
    background: #3596F5;
border-radius: 6px;
color: #fff;
border: none;
padding: 16px 36px;
cursor: pointer;

}